@import "tailwindcss";

@theme {
  --color-black: #101113;
  --color-white: #f2f2f2;
  --spacing: 0.25rem;
  
  --container-xs: 20rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;

  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text-base: 1rem;
  --text-lg: 1.3125rem;
  --text-xl: 2.5rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --leading-tight: 1.25;
  --leading-normal: 1.5;

  --radius-md: 0.375rem;
  --blur-sm: 8px;

  --font-primary: "Power Grotesk", sans-serif;
  --font-secondary: "American Favorite Script", serif;

  --color-primary: #d9d5c8;
  --color-primary-dark: #a09b8f;
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: Power Grotesk;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/PowerGrotesk-Regular.woff2) format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: American Favorite Script;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/AmericanFavoriteScript.woff2) format("woff2");
  }

  body {
    background-color: var(--color-black);
    font-family: var(--font-primary);
    font-size: var(--text-base);
    min-height: 100svh;
    width: 100%;
    color: var(--color-primary);
    text-underline-offset: 2px;
    text-wrap: pretty;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  body ::selection {
    background-color: var(--color-primary);
    color: var(--color-black);
  }

  @media (min-width: 48rem) {
    * {
      cursor: none !important;
    }
  }

  img {
    pointer-events: none;
    user-select: none;
  }
}

@layer components {
  .main-grid {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .cover {
    height: 100%;
    inset: 0;
    margin: auto;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .button {
    align-items: center;
    background-color: #d9d5c81a;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: var(--text-xs);
    padding: 0.625rem 1rem;
    text-transform: uppercase;
    backdrop-filter: blur(var(--blur-sm));
    line-height: 1;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button.active,
  .button:hover {
    background-color: #d9d5c84d;
  }

  .reveal-fade {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1), transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity, transform;
  }

  .reveal-fade.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

/* Custom Utilities or Overrides */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-inline: 1.25rem;
  width: 100%;
}